############################
# Java / Maven
############################
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
*.class
*.jar
*.war
*.ear

############################
# Spring Boot
############################
# Ignorar properties locales
src/main/resources/application.properties
src/main/resources/application-*.properties

# Ignorar properties de test
src/test/resources/application-test.properties
src/test/resources/application-*.properties

############################
# Logs
############################
*.log
logs/
log/

############################
# IntelliJ IDEA
############################
.idea/
*.iml
out/

############################
# VS Code
############################
.vscode/
.history/

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Environment / Secrets
############################
.env
.env.*
*.key
*.pem
*.crt

############################
# Build tools
############################
/build/
/bin/
/gradle/
/.gradle/

############################
# Test outputs
############################
/surefire-reports/
/jacoco/